<div class="login-page">
  <a routerLink="/">
    <img
      src="/assets/trello-logo.svg"
      class="trello-main-logo"
      alt="Logo trello"
    />
  </a>
  <div class="form-container">
    <h2 class="login-header roboto-bold">Login to Trello</h2>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="login-input roboto-regular"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login-input roboto-regular"
      />
      <button type="submit" class="login-submit-button roboto-regular">
        Sign in
      </button>
    </form>
    <div class="bottom-form-links">
      <a routerLink="/register" class="register-link roboto-regular"
        >Sign up for an account</a
      >
    </div>
  </div>
</div>
