<div
  class="task-modal-container task__modal-container"
  *ngIf="data$ | async as data"
>
  <div class="task-modal-header task-modal__header">
    <app-inline-form
      class="task-modal-edit-title-form"
      [defaultText]="data.task.title"
      [title]="data.task.title"
      (handleSubmit)="updateTaskName($event)"
    ></app-inline-form>
    <button (click)="goToBoard()" class="task-modal__btn-close">
      <img
        src="/assets/close_icon.svg"
        class="task-modal-close task-modal__img-delete"
        alt="close"
      />
    </button>
  </div>
  <div class="task-modal-body task-modal__body">
    <div>
      <form
        [formGroup]="columnForm"
        class="column-select-container column__form"
      >
        <select
          formControlName="columnId"
          class="column-select roboto-regular column__form-select"
        >
          <option
            class="roboto-regular"
            *ngFor="let column of data.columns"
            [ngValue]="column.id"
          >
            {{ column.title }}
          </option>
        </select>
      </form>
      <div class="task-modal-description task-modal__description">
        <p class="task-modal-description-label roboto-bold task-modal__label">
          Description
        </p>
        <app-inline-form
          class="task-modal-edit-description-form"
          [defaultText]="
            data.task.description || 'Add a more detailed description'
          "
          [title]="data.task.description || 'No title'"
          inputType="textarea"
          [hasButton]="true"
          buttonText="Save"
          (handleSubmit)="updateTaskDescription($event)"
        ></app-inline-form>
      </div>
    </div>
    <div class="task-modal-actions task-modal__actions">
      <p
        class="task-modal-actions-label roboto-regular task-modal__actions-label"
      >
        Actions
      </p>
      <div>
        <button
          class="task-modal-actions-action roboto-regular task-modal__actions-btn"
          (click)="deleteTask()"
        >
          <img
            src="/assets/trash.svg"
            class="task-modal-actions-icon trash-icon"
            alt="trash"
          />
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="task-modal-backdrop task__bg"></div>
