.form {
  padding: 1rem 0;
  background-color: rgb(224, 228, 235);
  background-color: transparent;
  border-radius: 0.3rem;
}

.form__display {
  background-color: rgb(96, 192, 71);
  color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__display:hover {
  background-color: rgb(86, 173, 64);
}

.form__display--clicked {
  display: none;
}

.form__input {
  width: 100%;
  padding: 1.3rem;
}
