<section class="form">
  <button
    class="form__display roboto-regular"
    [ngClass]="{ 'form__display--clicked': isEditing }"
    (click)="activeEditing()"
  >
    {{ defaultText }}
  </button>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="isEditing"
    class="inline-form"
  >
    <input
      type="text"
      formControlName="title"
      class="inline-form-input form__input roboto-regular"
      [placeholder]="inputPlaceholder"
      *ngIf="inputType === 'input'"
    />
    <textarea
      *ngIf="inputType === 'textarea'"
      formControlName="title"
      class="inline-form-input"
    ></textarea>
    <button
      *ngIf="hasButton"
      type="submit"
      [disabled]="form.invalid"
      class="inline-form-button"
    >
      {{ buttonText }}
    </button>
  </form>
</section>
