<app-top-bar></app-top-bar>

<div class="boards-page-container boards">
  <div class="home-left-sidebar-container">
    <a
      routerLink="/boards"
      class="boards-side-menu-option roboto-regular"
      routerLinkActive="boards-side-menu-option-selected"
      >Boards</a
    >
    <a
      routerLink="/"
      class="boards-side-menu-option roboto-regular"
      routerLinkActive="boards-side-menu-option-selected "
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </div>
  <div class="boards-section-container">
    <div class="my-boards">
      <div class="my-boards-section-header">
        <h2 class="boards-page-header-name roboto-bold">My boards</h2>
      </div>
      <div class="board-tile-list">
        <app-inline-form
          defaultText="Create new board"
          (handleSubmit)="createBoard($event)"
        ></app-inline-form>
      </div>
      <div class="board__boards">
        @for (board of boards(); track $index) {
          @if (board !== null) {
            <a
              [routerLink]="['/boards', board.id]"
              class="board__tile roboto-regular"
            >
              {{ board.title }}
            </a>
          }
        }
      </div>
    </div>
  </div>
</div>
