<app-top-bar></app-top-bar>
<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container board__header">
    <div class="board__header-btns">
      <app-inline-form
        class="edit-board-form board__edit-form"
        [defaultText]="data.board.title"
        [title]="data.board.title"
        (handleSubmit)="updateBoardName($event)"
      >
      </app-inline-form>
      <button
        class="delete-board board__btn-delete roboto-regular"
        (click)="deleteBoard()"
      >
        Delete board
      </button>
    </div>

    <div form class="form-board-container">
      <form [formGroup]="formBoard" (ngSubmit)="addUser()" class="form-board">
        <div class="form-board__info">
          <label for="user-email" class="form-board__label roboto-regular"
            >Add user to this board</label
          >
          <input
            formControlName="email"
            id="user-email"
            type="email"
            placeholder="User email"
            required
            class="form-board__input roboto-regular"
          />
        </div>
        <button type="submit" class="form-board__btn-submit roboto-regular">
          Add
        </button>
      </form>
    </div>
  </div>
  <div class="columns board__columns">
    <div class="column board__column" *ngFor="let column of data.columns">
      <div class="column-title column__title">
        <app-inline-form
          class="edit-column-form"
          [defaultText]="column.title"
          [title]="column.title"
          (handleSubmit)="updateColumnName($event, column.id)"
        >
        </app-inline-form>
        <button class="column__btn-delete" (click)="deleteColumn(column.id)">
          <img
            src="/assets/close_icon.svg"
            alt="delete"
            class="column-delete-icon column__img-delete"
          />
        </button>
      </div>
      <div class="column__tasks">
        <button
          *ngFor="let task of getTasksByColumn(column.id, data.tasks)"
          class="task column__task roboto-regular"
          (click)="openTask(task.id)"
        >
          {{ task.title }}
        </button>
      </div>
      <app-inline-form
        class="create-task-form"
        defaultText="Add a card"
        [hasButton]="true"
        buttonText="Add card"
        inputPlaceholder="Enter a title for this card"
        (handleSubmit)="createTask($event, column.id)"
      >
      </app-inline-form>
    </div>
    <app-inline-form
      class="create-column-form column__create"
      defaultText="Add a list"
      [hasButton]="true"
      buttonText="Add list"
      inputPlaceholder="Add column name"
      (handleSubmit)="createColumn($event)"
    ></app-inline-form>
  </div>
</div>
<router-outlet />
