<header class="home-header">
  <a routerLink="/" class="home-header-home-link">
    <img src="/assets/trello-logo-white.svg" alt="trello logo" />
  </a>
  <div>
    <a routerLink="/login" class="home-header-login roboto-regular">Login</a>
    <a routerLink="/register" class="home-header-register roboto-regular"
      >Register</a
    >
  </div>
</header>

<section class="home-hero">
  <div class="home-container">
    <div>
      <h2 class="home-title roboto-bold">
        Trello helps teams work more collaboratively and get more done.
      </h2>
      <p class="home-description roboto-regular">
        Trello's boards, lists, and cards enable teams to organize and
        prioritize projects in a fun, flexible, and rewarding way.
      </p>
    </div>
    <div>
      <img
        class="home-hero-img"
        src="/assets/hero.svg"
        alt="work collaboratively"
      />
    </div>
  </div>
</section>

<section class="home-team">
  <div class="home-container team-container">
    <div>
      <h2 class="home-title roboto-bold">Work with any team</h2>
      <p class="home-description roboto-regular">
        Whether it’s for work, a side project or even the next family vacation,
        Trello helps your team stay organized.
      </p>
    </div>
    <div>
      <img
        src="/assets/work-with-any-team.png"
        class="team-image"
        alt="Work with any team"
      />
    </div>
  </div>
</section>

<section class="home-information">
  <div class="home-container information-container">
    <div>
      <img
        src="/assets/information.svg"
        alt="Information"
        class="information-img"
      />
    </div>
    <div>
      <h2 class="home-title roboto-bold">Information at a glance</h2>
      <p class="home-description roboto-regular">
        Dive into the details by adding comments, attachments, due dates, and
        more directly to Trello cards. Collaborate on projects from beginning to
        end.
      </p>
    </div>
  </div>
</section>

<section class="home-workflow">
  <div class="home-container workflow-container">
    <div class="workflow-left-part">
      <h2 class="home-title roboto-bold">
        Built-In Workflow Automation With Butler
      </h2>
      <p class="home-description roboto-regular">
        Let the robots do the work! Boost spanroductivity by unleashing the
        power of automation across your entire team with Butler.
      </p>
    </div>

    <div>
      <img src="/assets/workflow.png" class="workflow-image" alt="Workflow" />
    </div>
  </div>
</section>
